server:
  port: 8081

spring:
  application:
    name: course-service
  datasource:
    url: jdbc:postgresql://localhost:5438/coursedb
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

kafka:
  bootstrap-servers: localhost:9092
